{# Change password result #}

<!DOCTYPE html>
<html>
<head>

  <title>Passwort ändern</title>
</head>

<body>

<h1>Password wurde geändert</h1>

<a href="{{ path('homepage') }}">Zurück</a>
</body>
</html>
